<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
<!--     <h2>Add reviews to movie</h2>
    <form method="POST" action="/add">
        <input placeholder="movie id" type="text" name="mov_id">
        <input placeholder="user id" type="text" name="user_id">
        <input placeholder="ratings 1~5" type="text" name="grade">
        <input placeholder="Add some review here" type="text" name="review">
        <input type="submit" name="new_rate" value="Add rating">
    </form> -->
    <h2>Add movies to Database</h2>
    <form method="POST" action="/add">
        <input placeholder="movie name" type="text" name="name">
        <input placeholder="movie id" type="text" name="mov_id">
        <input placeholder="language" type="text" name="language">
        <input placeholder="runtime" type="text" name="runtime">
        <input placeholder="release data ex.1995-05-01" type="text" name="release_data">
        <input placeholder="revenue" type="text" name="revenue">
        <input type="submit" name="new_movie" value="Add movie">
    </form>
</body>
</html>
